@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.inventory-slot {
		@apply border h-16 w-16 cursor-pointer text-xs relative hover:border-2;
	}

	.inventory-slot-selected {
		@apply border-4 border-[#f7894a] h-16 w-16 cursor-pointer text-xs relative;
	}
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	background-color: rgb(26, 26, 36);
	padding: 2em;
}

a {
	color: inherit;
	text-decoration: none;
}

ins {
	justify-items: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: block;
	position: absolute;
	z-index: 5;
	height: 55px;
	width: 55px;
	left: 5px;
	top: 5px;
}

.inventory-slot a,
.inventory-slot-selected a {
	height: 62px;
	width: 62px;
	z-index: 10;
	position: absolute;
}

.inventory-slot a:active,
.inventory-slot-selected a:active,
.item-search-result a:active {
	pointer-events: none;
}

.item-search-result a {
	width: 100%;
	height: 100%;
	z-index: 10;
	position: absolute;
}
