@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.inventory-slot {
		@apply border h-16 w-16 cursor-pointer text-xs relative hover:border-2;
	}

	.inventory-slot-selected {
		@apply border-4 h-16 w-16 cursor-pointer text-xs relative;
	}
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	background-color: #fffefe;
	padding: 2em;
}

a {
	color: inherit;
	text-decoration: none;
}

ins {
	background-repeat: no-repeat;
	background-size: contain;
	display: block;
	position: absolute;
	z-index: 5;
	height: 55px;
	width: 55px;
	left: 5px;
	top: 5px;
}
